/build/
/dist/
/sv2009/nbproject/private/
/sv2009/build/
/sv2009/dist/
/maze/nbproject/private/
/maze/build/
/maze/dist/
/maze/maze-sv2009/nbproject/private/
/maze/maze-sv2009/build/
/maze/maze-sv2009/dist/
/maze/maze-tc2/nbproject/private/
/maze/maze-tc2/build/
/antlrv4/sv2009/nbproject/private/
/antlrv4/sv2009/build/
/dsl/nbproject/private/
/peg/nbproject/private/
/dsl/build/
/dsl/dist/
/peg/build/
/peg/dist/
/tc1/nbproject/private/
/tc1/build/
/vlogpp/nbproject/private/
/vlogpp/build/
/vlogpp/dist/
/peg/expr/nbproject/private/
/peg/expr/build/