@TERMINAL@
package @PACKAGE@ ;
import apfe.maze.runtime.*;
import apfe.maze.tc2.ITokenCodes;

public class @CLASS@ extends Terminal implements ITokenCodes {

    @Override
    protected int getTokCode() {
        return stCode;
    }

	public static @CLASS@ OaO() {
		assert null != stOaO;
		return stOaO;
	}

    public static final int stCode = @TOKCODE@ ;
    private static final @CLASS@ stOaO = new @CLASS@();
}
@TERMINAL@

@NONTERMINAL@
package @PACKAGE@ ;
import apfe.maze.runtime.*;

public class @CLASS@ extends NonTerminal {
	public static @CLASS@ OaO() {
		return stOaO;
	}

	@Override
	public Acceptor getAcceptor() {
		if (null == stAcc) {
			stAcc = @EXPR@ ;
			assert null != stAcc;
		}
		return stAcc;
	}

    private static final @CLASS@ stOaO = new @CLASS@(); //One and Only
	private static Acceptor stAcc;
}
@NONTERMINAL@
