@TERMINAL@
package @PACKAGE@ ;
import apfe.maze.runtime;

public class @CLASS@ extends Terminal implements ITokenCodes {

    @Override
    protected int getTokCode() {
        return stCode;
    }

    public static final int stCode = @TOKCODE@ ;
    public static final @CLASS@ OaO = new @CLASS@();
}
@TERMINAL@

@NONTERMINAL@
package @PACKAGE@ ;
import apfe.maze.runtime;

public class @CLASS@ extends NonTerminal implements ITokenCodes {

	private @CLASS@(Acceptor nonTerm) {
		super(nonTerm);
	}
	public static final @CLASS@ OaO;	//One and Only
	static {
		//OaO = new @CLASS@( new Sequence(A_Term.OaO, B_Term.OaO, C_Term.OaO));
		OaO = new @CLASS@( @EXPR@ );
	}
}
@NONTERMINAL@
