@TERMINAL@
package @PACKAGE@ ;
import apfe.maze.runtime.*;
import apfe.maze.sv2009.ITokenCodes;

public class @CLASS@ extends Terminal implements ITokenCodes {

    @Override
    protected int getTokCode() {
        return stCode;
    }

	public static @CLASS@ OaO() {
		assert null != stOaO;
		return stOaO;
	}

    public static final int stCode = @TOKCODE@ ;
    private static final @CLASS@ stOaO = new @CLASS@();
}
@TERMINAL@

@NONTERMINAL@
package @PACKAGE@ ;
import apfe.maze.runtime.*;

public class @CLASS@ extends NonTerminal {
	public static @CLASS@ OaO() {
		if (null == stOaO) {
			stOaO = new @CLASS@ ();
			assert null != stOaO;
		}
		return stOaO;
	}

	//for debug
	@Override
	public RatsNest accept(RatsNest rats) {
		return super.accept(rats);
	}

    private @CLASS@() {
        super( @EXPR@ );
    }

    private static @CLASS@ stOaO;    //One and Only
}
@NONTERMINAL@
