@TERMINAL@
package @PACKAGE@ ;
import apfe.maze.runtime.*;
import apfe.maze.sv2009.ITokenCodes;

public class @CLASS@ extends Terminal implements ITokenCodes {

    @Override
    protected int getTokCode() {
        return stCode;
    }

    public static final int stCode = @TOKCODE@ ;
    public static final @CLASS@ OaO = new @CLASS@();
}
@TERMINAL@

@NONTERMINAL@
package @PACKAGE@ ;
import apfe.maze.runtime.*;

public class @CLASS@ extends NonTerminal {
	//for debug
	@Override
	public RatsNest accept(RatsNest rats) {
		return super.accept(rats);
	}

    private @CLASS@(Acceptor nonTerm) {
        super(nonTerm);
    }
    public static final @CLASS@ OaO;    //One and Only
    static {
        OaO = new @CLASS@( @EXPR@ );
    }
}
@NONTERMINAL@
